@charset "UTF-8";

@media only screen and (max-width: 600px) {
  ._3rh8J {
    display: none
  }
}

.navigation {
  height: 50px;
  background: #262626;
  font-family: 'Roboto', sans-serif
}

.brand {
  position: absolute;
  padding-left: 10px;
  float: left;
  line-height: 50px;
  font-size: 1.4em;
  font-weight: 700
}

.brand a,
.brand a:visited {
  color: #fff;
  text-decoration: none
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto
}

nav {
  float: right
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0
}

nav ul li {
  float: left;
  position: relative
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background: #262626;
  color: #fff;
  text-decoration: none
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #884bdf;
  color: #fff;
  transition: .3s
}

nav ul li ul li {
  min-width: 190px
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15)
}

.nav-mobile {
  display: none;
  position: absolute;
  top: -10px;
  right: 15px;
  background: #262626;
  height: 50px;
  width: 50px
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block
  }

  nav {
    width: 100%;
    padding: 50px 0 15px
  }

  nav ul {
    display: none
  }

  nav ul li {
    float: none
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px
  }

  nav ul li ul li a {
    padding-left: 30px
  }

  .nav-dropdown {
    position: static
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out
}

#nav-toggle span:before {
  top: -10px
}

#nav-toggle span:after {
  bottom: -10px
}

#nav-toggle.active span {
  background-color: transparent
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0
}

#nav-toggle.active span:before {
  transform: rotate(45deg)
}

#nav-toggle.active span:after {
  transform: rotate(-45deg)
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px
}

body {
  margin: 0 !important;
  background: #fff
}

footer {
  z-index: 10;
  background: #4482A9;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 43px;
  width: 100%;
  background-repeat: no-repeat, repeat;
  background-position: center;
  bottom: 0;
  position: fixed
}

footer .cpr {
  width: 1170px;
  margin: 0 auto;
  line-height: 43px;
  color: #fff !important;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif
}

footer .cpr .left {
  float: left
}

footer .cpr .right {
  float: right
}

footer .cpr .right a {
  color: #fff !important;
  text-decoration: none !important
}

header {
  z-index: 10;
  background: #4482A9;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 92px;
  width: 100%;
  top: 0;
  background-repeat: no-repeat, repeat;
  background-position: center
}

header .bodyhead {
  width: 1170px;
  margin: 0 auto;
  line-height: 46px
}

header .bodyhead .logo {
  float: left;
  line-height: 92px;
  margin-top: 14px
}

header .bodyhead .logo .h3 {
  font-size: 50px;
  color: #4482a9;
  font-weight: 700;
  font-family: 'Roboto', sans-serif
}

.bodytop {
  background: url(https://i.imgur.com/nPDbQMj.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%
}

.bodytop .bodytopt {
  width: 930px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  top: 35%;
  position: absolute;
  left: 50%
}

input {
  outline: none !important
}

.getlink {
  padding: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
  border-radius: 10px;
  width: 78%;
  border: none;
  background: rgba(0, 0, 0, .35);
  color: #fff
}

#protect {
  display: none
}

.submit {
  padding: 20px;
  border: none;
  background: #4482A9;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  display: inline-block;
  border-radius: 5px
}

.submit:hover {
  background: rgba(0, 0, 0, .35) !important;
  color: #fff !important
}

.ssbgg {
  display: inline-block
}

.bodyitem_404 {
  width: 930px;
  margin: 0 auto;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  padding: 15px;
  margin-top: 10px;
  line-height: 2em
}

.bodyitem_404 h3 {
  color: #4482a9;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px
}

.status-msg-body {
  display: none !important
}

a {
  color: #5b32b4;
  text-decoration: none
}

.bodytopt h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  text-align: center
}

.bodytopt h5 {
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 300;
  margin: -32px 0 45px
}

.goblogspot247 {
  float: right;
  color: #fff !important;
  font-family: 'Roboto', sans-serif;
  line-height: 92px
}

body {
  line-height: 1.5em;
  margin: 0 !important;
  background: #fff;
  font-family: 'Roboto', sans-serif
}

.goblogspot247 a {
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, .35);
  padding: 15px;
  font-size: 17px;
  border-radius: 5px
}

.bodypage {
  background: #fff;
  margin: 0 auto;
  width: 930px;
  margin-top: 15px;
  padding: 25px;
  padding-top: 10px
}

#bodylink {
  display: none
}

.bodyitemt {
  box-sizing: border-box;
  padding: 40px;
  background: #fff;
  margin: 0 auto;
  max-width: 700px;
  margin-top: 40px;
  border: 1px solid #eff2f6;
  box-shadow: 0 10px 90px rgba(0, 0, 0, .08);
  border-radius: 40px
}

#timeout {
  border: 2px solid #888;
  border-radius: 50%;
  color: #888;
  display: block;
  font-size: 25px;
  font-weight: 300;
  height: 100px;
  line-height: 78px;
  margin: 25px auto;
  width: 100px;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif
}

#timeout #nametime {
  font-size: 32px !important
}

.tubegiay {
  margin-top: -52px;
  font-size: 18px
}

.istc a {
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff !important;
  background: #28a745;
  padding: 10px 16px;
  font-size: 15px;
  box-shadow: 0 0 2px rgba(66, 133, 244, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  font-family: 'Roboto', sans-serif;
  text-decoration: none !important
}

.is1 a {
  cursor: not-allowed;
  opacity: .65
}

.is2 a {
  opacity: 1
}

.istc {
  text-align: center
}

#timeline h3 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #9C27B0
}

.flat-icon-button {
  background: transparent;
  border: 0;
  outline: none;
  padding: 8px;
  cursor: pointer;
  box-sizing: content-box;
  display: inline-block;
  line-height: 0
}

.flat-icon-button,
.flat-icon-button .splash-wrapper {
  border-radius: 50%
}

.flat-icon-button .splash.animate {
  -webkit-animation-duration: .3s;
  animation-duration: .3s
}

.flat-button {
  cursor: pointer;
  border-radius: 2px;
  padding: 8px
}

.ripple {
  position: relative
}

.ripple>* {
  z-index: 1
}

.splash-wrapper {
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0
}

.splash {
  background: rgba(0, 0, 0, .3);
  border-radius: 100%;
  display: block;
  opacity: .9;
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0)
}

.splash.animate {
  -webkit-animation: ripple-effect .5s linear;
  animation: ripple-effect .5s linear
}

@-webkit-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5)
  }
}

@keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5)
  }
}

.luzs {
  color: #4482A9;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 25px
}

.svcccc {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.9em
}

.link-out-btn {
  cursor: pointer;
  display: none;
}

#taolinkchuyenhuong {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  transform: scale(1.015)
}

#taolinkchuyenhuong:target {
  transform: scale(1);
  background: rgba(0, 0, 0, .2);
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 999999999999;
  transition: .5s
}

.taolinkchuyenhuong {
  background: #fff;
  border-radius: 4px;
  z-index: 999;
  width: 600px;
  max-width: 100%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 100px rgba(0, 0, 0, .2)
}

.taolinkchuyenhuong h2 {
  margin: 0 0 .75em;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #4267b2
}

.taolinkchuyenhuong h3 {
  margin: 0 0 5px;
  padding: 0;
  font: 500 15px Roboto;
  text-transform: uppercase
}

.taolinkchuyenhuong p {
  margin: 0;
  padding: 0;
  font: 400 16px Roboto, sans-serif;
  color: #222;
  line-height: 1.5
}

.taolinkchuyenhuong p a {
  font-weight: 700;
  color: #222
}

.taolinkchuyenhuong p a:hover {
  text-decoration: underline
}

.taolinkchuyenhuong a.close {
  padding: 0;
  display: inline-block;
  margin: 0;
  /* float: right; */
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: red !important;
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  bottom: 10px
}

.taolinkchuyenhuong_ a.close:hover {
  background-color: #fafafa
}

#link, .link-result {
  font-family: inherit;
  width: 100%;
  text-align: center;
  border: none;
  padding: 10px 0;
  margin: 0 0 20px;
  border-radius: 100px;
  font-size: 14px;
  box-shadow: 0 0 2px rgba(66, 133, 244, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24)
}

#taoxong input {
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border: none;
  padding: 10px;
  margin: 20px 0;
  border-radius: 100px;
  font-size: 14px;
  box-shadow: 0 0 2px rgba(66, 133, 244, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24)
}

.taolink {
  border-radius: 5px;
  color: #fff !important;
  background: #5080e9;
  padding: 10px 16px;
  font-size: 15px;
  box-shadow: 0 0 2px rgba(66, 133, 244, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  font-family: 'Roboto', sans-serif;
  text-decoration: none !important;
  border: none;
  display: block;
  margin: auto;
  cursor: pointer;
}

._3rh8J {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  pointer-events: none
}

._2xVPk {
  pointer-events: auto
}

._2qskt {
  width: 100%;
  background-color: #000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, .08)
}

._3c7Pb {
  padding-top: 5px;
  padding-bottom: 5px;
}

._1CR66 {
  padding-left: 12px;
  padding-right: 12px
}

.PrOBO {
  margin-left: auto;
  margin-right: auto
}

._2gyVS {
  font-size: 13px;
  margin: 0
}

._27Bp2 {
  font-weight: 400
}